---
import { getCollection } from 'astro:content';
import Layout from "$/layouts/Default.astro";
import FormattedDate from '$/components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => {
		const dateA = a.data.updatedDate || a.data.pubDate
		const dateB = b.data.updatedDate || b.data.pubDate
		return dateB.valueOf() - dateA.valueOf()
	}
);

const isRecent = (date: Date): boolean => {
	const now = new Date();
	const diff = now.valueOf() - date.valueOf();
	const diffInDays = diff / (1000 * 60 * 60 * 24);
	return diffInDays < 30;
}
---

<Layout>
	<section class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8">
		{
			posts.map((post) => (
				<a href={ `/blog/${post.slug}/` } class="flex justify-center">
					<div class="card w-96 bg-base-100 hover:bg-base-200/50 dark:bg-base-200 dark:hover:bg-base-200/50
										  hover:shadow-[0_3px_10px_rgb(0,0,0,0.2)] shadow-[0_8px_30px_rgb(0,0,0,0.12)]"
					>
						{
							post.data.heroImage && <figure><img src={post.data.heroImage} alt="Blog picture"/></figure>
						}
						<div class="card-body">
							<h2 class="card-title">
								{ post.data.title }
								{
									isRecent(post.data.pubDate) && (
										<span class="badge badge-primary capitalize">new</span>
									)
								}
								{
									post.data.updatedDate && isRecent(post.data.updatedDate) && (
										<span class="badge badge-primary capitalize">updated</span>
									)
								}
							</h2>
							<p class="text-sm">
								<FormattedDate date={post.data.pubDate}/>
								{
									post.data.updatedDate && (
										<span class="text-xs">
											(updated on <FormattedDate date={post.data.updatedDate}/>)
										</span>
									)
								}
							</p>

							{
								post.data.topics.length > 0 && (
									<div class="card-actions justify-end">
										{
											post.data.topics.map((topic) => (
												<div class="badge badge-outline">{topic}</div>
											))
										}
									</div>
								)
							}
						</div>
					</div>
				</a>
			))
		}
	</section>
</Layout>

