---
import type { CollectionEntry } from 'astro:content';
import Layout from "$/layouts/Default.astro";
import FormattedDate from '../components/FormattedDate.astro';
import BlogBreadcrumb from "../components/BlogBreadcrumb.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
	<article class="w-full max-w-prose mx-auto">
		<BlogBreadcrumb />
		<div class="w-full">
			{
			  heroImage &&
			  <img class="rounded-xl shadow-xl" src={heroImage} alt="" />
			}
		</div>
		<div class="py-4 m-auto text-lg">
			<div class="px-4 text-center">
				<div class="mb-2 text-base">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="italic">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1 class="mb-2 text-2xl">{title}</h1>
			</div>
			<div class="divider"></div>
			<slot />
		</div>
	</article>
</Layout>

