---
import type { CollectionEntry } from 'astro:content';
import Layout from "$/layouts/Default.astro";
import FormattedDate from "$/components/FormattedDate.astro";
import BlogBreadcrumb from "$/components/BlogBreadcrumb.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
	<article class="w-full max-w-prose mx-auto">
		<BlogBreadcrumb />
		<div class="w-full">
			{
			  heroImage &&
			  <img class="rounded-xl shadow-xl" src={heroImage} alt="" />
			}
		</div>
		<div class="py-4 m-auto text-lg">
			<div class="px-4 text-center">
				<h1 class="mb-2 text-2xl">{title}</h1>

				<div class="mb-2 text-base">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<span class="italic">
								(updated on <FormattedDate date={updatedDate} />)
							</span>
						)
					}
				</div>
				<p>{description}</p>
			</div>
			<div class="divider"></div>
			<div class="prose">
				<slot />
			</div>
		</div>
	</article>
</Layout>

